*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'poppins';
  cursor: url('./Components/Assets/pngwing.com.png'), auto;
}
button{
  cursor: url('./Components/Assets/icons8-cursor-32.png'), auto!important;
}
.custom-input::placeholder {
  cursor: url('./Components/Assets/icons-i-32.png'), auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

